* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.header {
    grid-area: 1/2/2/3;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
    padding: 20px;
    gap: 5px 25px;
}

.sidebar {
    grid-area: 1/1/3/2;
    background-color: rgb(130, 15, 161);
    display: grid;
    grid-template-rows: repeat(3, fit-content);
    padding: 20px;
}

.content-container {
    grid-area: 2/2/3/3;
    background-color:rgb(244, 242, 247);
}

.searchbar {
    display:flex;
    align-items: center;
    gap: 20px;
}

.magnifying-glass img {
    height: 1.8rem;
}

input {
    flex: auto;
    appearance: none;
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 2px 8px;
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
}

.profile-right {
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10%;
}

.profile-right img:first-of-type {
    height: 1.8rem;
}

.profile-right img:last-of-type {
    height: 3rem;
}

.profile-right p {
    font-size: clamp(1vw, 1.3em, 2rem);
    font-weight: bold;
}

.greeting{
    display:flex;
    gap: 2%;
    align-items: center;
}

.greeting img {
    height: 5rem;
}

.greeting p {
    font-size: 1rem;
    font-weight: bold;
}

.greeting p span {
    font-size: 2rem;
}

.buttons {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button {
    appearance: none;
    padding: 10px 20px;
    border-radius: 1em;
    font-size: clamp(1rem, 1vw, 2rem);
    background-color: rgb(130, 15, 161);
    color: white;
}

.dashboard p{
    background-image: url(svg/dashboard-svgrepo-com.svg);
    padding: 10px 0 10px 3.5rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    /* align-self: center; */
}

li {
    padding: 10px 0 10px 2.5rem;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
    }

.home {
    background-image: url(svg/home_white_24dp.svg);
}

.profile {
    background-image: url(svg/person_outline_white_24dp.svg);
}

.messages {
    background-image: url(svg/email_white_24dp.svg);
}

.history {
    background-image: url(svg/history_white_24dp.svg);
}

.tasks {
    background-image: url(svg/tasks-open-svgrepo-com.svg);
}

.community {
    background-image: url(svg/groups_white_24dp.svg);
}

.settings {
    background-image: url(svg/settings_white_24dp.svg);
}

.support {
    background-image: url(svg/help_outline_white_24dp.svg);
}

.privacy {
    background-image: url(svg/verified_user_white_24dp.svg);
}
